<aside class="container c-asideBreadcrumb">
    <nav class="c-breadcrumbWrapper" aria-label="パンくずリスト">
        <ol class="c-breadcrumb mb-2">
            <li class="c-breadcrumb_item"><a class="py-2 c-breadcrumb_text"><span class="c-breadcrumb_count">step</span>Reflection</a></li>
            <li class="c-breadcrumb_item"><a class="py-2 c-breadcrumb_text"><span class="c-breadcrumb_count">step</span>Restoration</a></li>
            <li class="c-breadcrumb_item"><a class="py-2 c-breadcrumb_text"><span class="c-breadcrumb_count">step</span>Revelation</a></li>
            <li class="c-breadcrumb_item"><a class="py-2 c-breadcrumb_text"><span class="c-breadcrumb_count">step</span>Revisited</a></li>
            <li class="c-breadcrumb_item"><a class="py-2 c-breadcrumb_text"><span class="c-breadcrumb_count">step</span>Release</a></li>
            <li class="c-breadcrumb_item"><a class="py-2 c-breadcrumb_text"><span class="c-breadcrumb_count">step</span>Ready</a></li>
        </ol>
        <ol class="c-breadcrumb mb-2">
            <li class="c-breadcrumb_item"><a class="py-2 c-breadcrumb_text"><span class="c-breadcrumb_count">step</span>Remove</a></li>
            <li class="c-breadcrumb_item active" aria-current="page"><a class="py-2 c-breadcrumb_text"><span class="c-breadcrumb_count">step</span>Regret</a></li>
            <li class="c-breadcrumb_item"><a class="py-2 c-breadcrumb_text"><span class="c-breadcrumb_count">step</span>Restitution</a></li>
            <li class="c-breadcrumb_item"><a class="py-2 c-breadcrumb_text"><span class="c-breadcrumb_count">step</span>Restraint</a></li>
            <li class="c-breadcrumb_item"><a class="py-2 c-breadcrumb_text"><span class="c-breadcrumb_count">step</span>Receive</a></li>
            <li class="c-breadcrumb_item"><a class="py-2 c-breadcrumb_text"><span class="c-breadcrumb_count">step</span>Responsible</a></li>
        </ol>
    </nav>
</aside>